
{% extends "base.html" %}

{% load static from static %}
{% block content %}

<a id='backTop'>Back To Top</a>
<!-- /Back To Top -->

            <!-- /////////////////////////////////////////Content -->
            <div id="page-content" class="index-page">

                <!-- ////////////Content Box 01 -->
                <section class="box-content box-1 text-center">
                        <div class="no-gutter">
                                <div class="col-sm-4 bg-1">
                                        <div class="box-text">
                                                <div class="heading">
                                                        <h2>Text heading</h2>
                                                </div>
                                                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque quod maxime placeat facere possimus nihil impedit quo minus id quod maxime placeat facere possimus ptio cumque quod maxime ibero tempore, cum soluta nobis.</p>
                                                <a class="btn btn-1">Learn More</a>
                                        </div>
                                </div>
                                <div class="col-sm-4 bg-2">
                                        <div class="box-text">
                                                <div class="heading">
                                                        <h2>Text Heading</h2>
                                                </div>
                                                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque quod maxime placeat facere possimus nihil impedit quo minus id quod maxime placeat facere possimus ptio cumque quod maxime ibero tempore, cum soluta nobis.</p>
                                                <a class="btn btn-1">Learn More</a>
                                        </div>
                                </div>  
                                                     
                                
                                <div class="col-sm-4 bg-3">
                                        <div class="box-text">
                                                <div class="heading">
                                                        <h2>Text Heading</h2>
                                                </div>
                                                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque quod maxime placeat facere possimus nihil impedit quo minus id quod maxime placeat facere possimus ptio cumque quod maxime ibero tempore, cum soluta nobis.</p>
                                                <a class="btn btn-1">Learn More</a>
                                        </div>
                                </div>
                        </div>
                        <div class="clear"></div>
                </section>
              
                <!-- ////////////Content Box 02 -->
                <section class="box-content box-2 box-bg-white">
                        <div class="no-gutter">
                                <div class="col-sm-6 fix-right">
                                        <div class="box-image">
                                                <img class="media__image " src='{% static "images/14.jpg "  %}'>
                                        </div>
                                </div>
                                
                        </div>
                        <div class="clear"></div>
                </section>
              
                       
<div class="col-sm-6">
        <div class="box-text">
                <div class="heading">
                        <h2>About</h2>
                        <span>SED NONUMY <br>UT LABORE ALIQUYAM</span>
                </div>
                <p>Lorem ipsum dolor sit amet,
                         consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut 
                         labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                          accusam et justo duo dolores et ea rebum. Consetetur sadipscing elitr,
                           sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam 
                           erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum
                           .Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie 
                           consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
                            et iusto odio dignissim qui blandit praesent luptatum zzril.Ut wisi enim ad
                             minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                              ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in.</p>
        </div>
</div>
        
        <!-- ////////////Content Box 03 -->
        <section class="box-content box-3">
                <div class="no-gutter">
                        <div class="col-lg-4 col-sm-6">
                                <a href="#" class="portfolio-box">
                                        <img src='{% static "images/5.jpg " %}' class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                                <div class="portfolio-box-caption-content">
                                                        <div class="project-category text-faded">
                                                                Category
                                                        </div>
                                                        <div class="project-name">
                                                                Project Name
                                                        </div>
                                                </div>
                                        </div>
                                </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                                <a href="#" class="portfolio-box">
                                        <img src='{% static "images/6.jpg "  %}'class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                                <div class="portfolio-box-caption-content">
                                                        <div class="project-category text-faded">
                                                                Category
                                                        </div>
                                                        <div class="project-name">
                                                                Project Name
                                                        </div>
                                                </div>
                                        </div>
                                </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                                <a href="#" class="portfolio-box">
                                        <img src='{% static "images/7.jpg"  %}' class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                                <div class="portfolio-box-caption-content">
                                                        <div class="project-category text-faded">
                                                                Category
                                                        </div>
                                                        <div class="project-name">
                                                                Project Name
                                                        </div>
                                                </div>
                                        </div>
                                </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                                <a href="#" class="portfolio-box">
                                        <img src='{% static "images/8.jpg"  %}' class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                                <div class="portfolio-box-caption-content">
                                                        <div class="project-category text-faded">
                                                                Category
                                                        </div>
                                                        <div class="project-name">
                                                                Project Name
                                                        </div>
                                                </div>
                                        </div>
                                </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                                <a href="#" class="portfolio-box">
                                        <img src='{% static "images/9.jpg"  %}' class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                                <div class="portfolio-box-caption-content">
                                                        <div class="project-category text-faded">
                                                                Category
                                                        </div>
                                                        <div class="project-name">
                                                                Project Name
                                                        </div>
                                                </div>
                                        </div>
                                </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                                <a href="#" class="portfolio-box">
                                        <img src='{% static "images/10.jpg"  %}'class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                                <div class="portfolio-box-caption-content">
                                                        <div class="project-category text-faded">
                                                                Category
                                                                
                                                        </div>
                                                        <div class="project-name">
                                                                Project Name
                                                        </div>
                                                </div>
                                        </div>
                                </a>
                        </div>
                </div>
                <div class="clear"></div>
        </section>
        
        <!-- ////////////Content Box 04 -->
        <section class="box-content box-4 box-bg-black">
                <div class="no-gutter">
                        <div class="col-sm-6">
                                <div class="box-image">
                                        <img class="media__image " src='{% static "images/13.jpg"  %}'>
                                </div>
                        </div>
                        <div class="col-sm-6">
                                <div class="box-text">
                                        <div class="heading">
                                                <h2>welcome</h2>
                                                <span>EUM IRIURE DOLOR <br>IN HENDRERIT DUIS</span>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                                 sed diam nonumy eirmod tempor invidunt ut labore et dolore 
                                                 magna aliquyam erat, sed diam voluptua. 
                                                 At vero eos et accusam et justo duo dolores et ea rebum. 
                                                 Consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                                  invidunt ut labore et dolore magna aliquyam erat, sed diam
                                                   voluptua. At vero eos et accusam et justo duo dolores et ea
                                                    rebum.Duis autem vel eum iriure dolor in hendrerit in vulputate
                                                     velit esse molestie consequat, vel illum dolore eu feugiat nulla 
                                                     facilisis at vero eros et accumsan et iusto odio dignissim qui
                                                      blandit praesent luptatum zzril.Ut wisi enim ad minim veniam,
                                                       quis nostrud exerci tation ullamcorper
                                                       suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                                       Duis autem vel eum iriure dolor in hendrerit in.</p>
                                </div>

                        </div>
                </div>
                <div class="clear"></div>
        </section>
        
        <!-- ////////////Content Box 05 -->
        <section class="box-content box-5">
                <div class="no-gutter">
                        <div class="col-sm-6 bg-3">
                                <div class="box-text">
                                        <div class="heading">
                                                <h2>Sign Up</h2>
                                                <span>Get subscriber only insights & news <br>delivered by John Doe</span>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores...</p>
                                        
                                </div>
                        </div>
                        <div class="col-sm-6 bg-0">
                                <div class="box-text">
                                        <div class="heading">
                                                <h2>Contact</h2>
                                        </div>
                                        <p><i class="fa fa-map-marker"></i> My Company Glasgow D04 89GR</p>
                                        <p><i class="fa fa-phone"></i> 800-2345-6789</p>
                                        <p><i class="fa fa-phone"></i> 800-2345-6789</p>
                                        <p><i class="fa fa-envelope-o"></i> info@demolink.org</p>
                                        <p><i class="fa fa-clock-o"></i> 7 Days a week from 9:00 am to 7:00 pm</p>
                                        <ul class="list-inline social-link">
                                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                </div>
                        </div>
                </div>
                <div class="clear"></div>
        </section>
        
</div>
      
{% endblock content %}
    